@model IEnumerable<BBrownieMVC.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create">Criar Venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
